* {
  font-family: "Roboto";
}

.shopping-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: black;
  color: #ffff;
  margin: 10px;
}
ul li {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
.cart-title {
  margin-top: 26px;
  font-size: 17px;
}

.list-container {
  margin-right: 15px;
  cursor: pointer;
}
.list {
  margin-left: 20px;
}
.banner-container img {
  width: 100%;
}
.collection-section {
  display: flex;
  margin: 10px;
}

.image-section img {
  height: 170px;
  width: 190px;
  margin: 8px;
}

.image-women img {
  width: 100%;
}

.img-footer {
  box-shadow: 10px 10px 10px;
}

h1 {
  font-family: "Roboto";
  font-size: 26px;
}
.search-input {
  border-radius: 5px;
  margin-left: 20px;
}

@media (max-width: 1200px) {
  .shopping-container {
    background-color: red;
  }
}
